@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  background-color: #f8f8f7;
  font-family: "Jost", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
